@using ExamApp.Service.ViewModels.Student;
@model StudentViewModel

<h1>Update Student</h1>
<form method="post" asp-action="UpdateStudent">
    <input type="hidden" asp-for="No"/>
  <div class="form-group">
    <label for="">Name</label>
    <input type="text" class="form-control" asp-for="Name">
  </div>
  <div class="form-group">
      <label for="" class="form-label">Surname</label>
    <input type="text" class="form-control" asp-for="Surname">
  </div>
  <div class="form-group">
    <label for="">Class</label>
    <input type="number" class="form-control" asp-for="Class">
  </div>
  <button type="submit" class="btn btn-primary mt-3">Submit</button>
</form>